## District Summary

In [1]:
# Dependencies and Setup
import pandas as pd
import dataframe_image as dfi

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [3]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
## Total Number of School
total_schools = school_data_complete['school_name'].drop_duplicates().reset_index(drop=True).count()

## Total Number of Students
total_students = school_data_complete['student_name'].count()

## Total Budget
total_budget = school_data_complete['budget'].drop_duplicates().reset_index(drop=True).sum()

## Average Math Score
average_math_score = school_data_complete['math_score'].mean()

## Average Reading Score
average_reading_score = school_data_complete['reading_score'].mean()

## Percentage of students passing math
per_math_pass = school_data_complete.loc[school_data_complete['math_score']>=70].shape[0]/total_students * 100

## Percentage of students passing reading
per_reading_pass = school_data_complete.loc[school_data_complete['reading_score']>=70].shape[0]/total_students * 100

## Percentage of students passing math and reading
per_math_reading_pass = school_data_complete[
    (school_data_complete['math_score']>=70)&
    (school_data_complete['reading_score']>=70)
].shape[0]/total_students * 100

## District Summary Data Frame
district_summary_df = pd.DataFrame(columns=["Total Schools","Total Students","Total Budget", "Average Math Score","Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

district_summary_df['Total Schools'] = [total_schools]
district_summary_df['Total Students'] = [total_students]
district_summary_df['Total Budget'] = [total_budget]
district_summary_df['Average Math Score']=[average_math_score]
district_summary_df['Average Reading Score']=[average_reading_score]
district_summary_df['% Passing Math']= [per_math_pass]
district_summary_df['% Passing Reading']=[per_reading_pass]
district_summary_df['% Overall Passing'] = [per_math_reading_pass]

district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)

district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,}'.format)

district_summary_df.dfi.export('Images/1District_Summary.png')

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [6]:
## Groupy function to collate data based on each school in the district
school_names = school_data_complete.set_index('school_name').groupby(['school_name'])

## Referring back to the first data frame that contained information only on the schools. This prevents the collection of duplicate data
school_types = school_data.set_index('school_name')['type']

## Counting the number of students per school based on their names
school_student_count = school_names['student_name'].count()

## Determining the budget for each school from the first school dataframe
school_budget = school_data.set_index('school_name')['budget']

## Calculating the average budget for each student
student_budget = school_budget/school_student_count

## Average maths score for each school
school_math_average = school_names['math_score'].mean()

## Average reading score for each school
school_reading_average = school_names['reading_score'].mean()

## Percentage of students that have passed maths in each school
school_math_pass = ((school_data_complete[
    (school_data_complete['math_score']>=70)
].groupby('school_name')['student_name'].count())/school_student_count)*100

## Percentage of students that have passed reading in each school
school_reading_pass = ((school_data_complete[
    (school_data_complete['reading_score']>=70)
].groupby('school_name')['student_name'].count())/school_student_count)*100

## Percentage of students that have passed both maths and reading in each school
school_overall_pass = school_math_pass = ((school_data_complete[
    (school_data_complete['math_score']>=70)&
    (school_data_complete['reading_score']>=70)
].groupby('school_name')['student_name'].count())/school_student_count)*100

## Creating a Summary Tabale in a new data frame
school_summary = pd.DataFrame({
    "School Type": school_types,
    'Total Students': school_student_count,
    'Total School Budget': school_budget,
    'Per Student Budget': student_budget,
    'Average Math Score': school_math_average,
    'Average Reading Score': school_reading_average,
    '% Passing Math': school_math_pass,
    '% Passing Reading': school_reading_pass,
    '% Overall Passing': school_overall_pass
})

## Formatting the Data Frame
school_summary['Total School Budget'] = school_summary['Total School Budget'].map('${:,}'.format)

school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:.2f}'.format)

school_summary.dfi.export('Images/2School_Summary.png')

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928",$628.00,77.048432,81.033963,54.642283,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,91.334769,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,53.204476,80.739234,53.204476
Ford High School,District,2739,"$1,763,916",$644.00,77.102592,80.746258,54.289887,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,90.599455,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,53.527508,80.862999,53.527508
Holden High School,Charter,427,"$248,087",$581.00,83.803279,83.814988,89.227166,96.252927,89.227166
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,53.513884,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,53.539172,81.222432,53.539172
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,90.540541,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,52.988247,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.359455,83.725724,89.892107,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,90.948012,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,90.582567,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400",$583.00,83.682222,83.955000,90.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

In [7]:
## Top Performing Schools have been sorted using the .sort_values function
top_performer = school_summary.sort_values('% Overall Passing', ascending=False).head(5)

top_performer.dfi.export('Images/3Top_Performer.png')

top_performer

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.061895,83.975780,91.334769,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.418349,83.848930,90.948012,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500",$625.00,83.351499,83.816757,90.599455,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.274201,83.989488,90.582567,96.539641,90.582567
Pena High School,Charter,962,"$585,858",$609.00,83.839917,84.044699,90.540541,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [8]:
## Bottom Performing Schools have been displayed using the .sort_values function
bottom_performer = school_summary.sort_values('% Overall Passing', ascending=True).head(5)

bottom_performer.dfi.export('Images/4Bottom_Performer.png')

bottom_performer

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.842711,80.744686,52.988247,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411",$639.00,76.711767,81.158020,53.204476,80.739234,53.204476
Huang High School,District,2917,"$1,910,635",$655.00,76.629414,81.182722,53.513884,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020",$652.00,77.289752,80.934412,53.527508,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650",$650.00,77.072464,80.966394,53.539172,81.222432,53.539172

## Math Scores by Grade

In [14]:
## Generating Ninth Grade Math Score
ninth_grade_math = student_data.loc[student_data['grade']=='9th'].groupby('school_name')['math_score'].mean()

## Generating Tenth Grade Math Score
tenth_grade_math = student_data.loc[student_data['grade']=='10th'].groupby('school_name')['math_score'].mean()

## Generating Eleventh Grade Math Score
eleventh_grade_math = student_data.loc[student_data['grade']=='11th'].groupby('school_name')['math_score'].mean()

## Generating Twelth Grade Math Score

twelth_grade_math = student_data.loc[student_data['grade']=='12th'].groupby('school_name')['math_score'].mean()

colated_math_ranking_school = pd.DataFrame({
    "9th": ninth_grade_math,
    "10th": tenth_grade_math,
    "11th": eleventh_grade_math,
    "12th": twelth_grade_math
    })

math_ranking_school = colated_math_ranking_school.reset_index(level='school_name', col_level=1)

math_ranking_school = math_ranking_school.rename(columns={'school_name': 'School Name'})


math_ranking_school.dfi.export('Images/5SchoolMathGradeRanking.png')

math_ranking_school

              School Name        9th       10th       11th       12th
0      Bailey High School  77.083676  76.996772  77.515588  76.492218
1     Cabrera High School  83.094697  83.154506  82.765560  83.277487
2    Figueroa High School  76.403037  76.539974  76.884344  77.151369
3        Ford High School  77.361345  77.672316  76.918058  76.179963
4     Griffin High School  82.044010  84.229064  83.842105  83.356164
5   Hernandez High School  77.438495  77.337408  77.136029  77.186567
6      Holden High School  83.787402  83.429825  85.000000  82.855422
7       Huang High School  77.027251  75.908735  76.446602  77.225641
8     Johnson High School  77.187857  76.691117  77.491653  76.863248
9        Pena High School  83.625455  83.372000  84.328125  84.121547
10  Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11    Shelton High School  83.420755  82.917411  83.383495  83.778976
12     Thomas High School  83.590022  83.087886  83.498795  83.497041
13     Wilson High School  83.085578  83.724422  83.195326  83.035794
14     Wright High School  83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [15]:
## Generating Ninth Grade Reading Score
ninth_grade_reading = student_data.loc[student_data['grade']=='9th'].groupby('school_name')['reading_score'].mean()

## Generating Tenth Grade reading Score
tenth_grade_reading = student_data.loc[student_data['grade']=='10th'].groupby('school_name')['reading_score'].mean()

## Generating Eleventh Grade reading Score
eleventh_grade_reading = student_data.loc[student_data['grade']=='11th'].groupby('school_name')['reading_score'].mean()

## Generating Twelth Grade reading Score

twelth_grade_reading = student_data.loc[student_data['grade']=='12th'].groupby('school_name')['reading_score'].mean()

colated_reading_ranking_school = pd.DataFrame({
    "9th": ninth_grade_reading,
    "10th": tenth_grade_reading,
    "11th": eleventh_grade_reading,
    "12th": twelth_grade_reading
    })

reading_ranking_school = colated_reading_ranking_school.reset_index(level='school_name', col_level=1)

reading_ranking_school = reading_ranking_school.rename(columns={'school_name': 'School Name'})


reading_ranking_school.dfi.export('Images/6SchoolreadingGradeRanking.png')

reading_ranking_school

              School Name        9th       10th       11th       12th
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

In [11]:
## For Binning, we will have to use the raw data from the original school summary

raw_school_summary = pd.DataFrame({
    'Per Student Budget': student_budget,
    'Average Math Score': school_math_average,
    'Average Reading Score': school_reading_average,
    '% Passing Math': school_math_pass,
    '% Passing Reading': school_reading_pass,
    '% Overall Passing': school_overall_pass
})


## Setting up the bins
bins = [0,585,629,644,675]
bin_labels = ['<$584','$585-629','$630-644','$645-675']

school_budget_score = raw_school_summary[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']].groupby(pd.cut(raw_school_summary['Per Student Budget'],bins, labels=bin_labels)).mean()

school_budget_score.dfi.export('Images/7School_budget_score.png')

school_budget_score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget,,,,,
<$584,83.455399,83.933814,90.369459,96.610877,90.369459
$585-629,81.899826,83.155286,81.418596,92.718205,81.418596
$630-644,78.518855,81.624473,62.857656,84.391793,62.857656
$645-675,76.997210,81.027843,53.526855,81.133951,53.526855

## Scores by School Size

In [12]:
## Setting up the bins
bins1 = [0,1000,2000,5000]
bin_labels1 = ['Small (<1000)','Medium (1000-2000)','Large (2000-5000)']

## New Raw Data Generation taking into consideration school size
raw_school_summary1 = pd.DataFrame({
    'Total Students': school_student_count,
    'Average Math Score': school_math_average,
    'Average Reading Score': school_reading_average,
    '% Passing Math': school_math_pass,
    '% Passing Reading': school_reading_pass,
    '% Overall Passing': school_overall_pass
})


school_size_score = raw_school_summary1[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']].groupby(pd.cut(raw_school_summary1['Total Students'],bins1, labels=bin_labels1)).mean()

school_size_score.dfi.export('Images/8school_size_score.png')

school_size_score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Students,,,,,
Small (<1000),83.821598,83.929843,89.883853,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,90.621535,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,58.286003,82.766634,58.286003

## School Type

In [13]:
## New Raw Data Generation taking into consideration school size
raw_school_summary2 = pd.DataFrame({
    'School Type': school_types,
    'Average Math Score': school_math_average,
    'Average Reading Score': school_reading_average,
    '% Passing Math': school_math_pass,
    '% Passing Reading': school_reading_pass,
    '% Overall Passing': school_overall_pass
})

## Given that the School Types are strings, they will need to be converted into an integer
raw_school_summary2['School Type'] = raw_school_summary2['School Type'].replace({'Charter':1,"District":2})

## Setting up the bins
bins2 = [0,1,2]
bin_labels2 = ['Charter','District']



school_type_score = raw_school_summary2[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']].groupby(pd.cut(raw_school_summary2['School Type'],bins2, labels=bin_labels2)).mean()

school_type_score.dfi.export('Images/9school_type_score.png')

school_type_score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,90.432244,96.586489,90.432244
District,76.956733,80.966636,53.672208,80.799062,53.672208