In [1]:
## Importing the Pandas Module for Analysis
import pandas as pd

In [2]:
## Loading the required files for analyses
schools_load_df = pd.read_csv("Resources\schools_complete.csv")
students_load_df = pd.read_csv("Resources\students_complete.csv")

In [3]:
## Viewing the Schools Data Frame
schools_load_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
## Viewing the Students Data Frame
students_load_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
## Merging the two dataframes
schools_complete_df = pd.merge(students_load_df, schools_load_df, on=["school_name","school_name"], how="left")
schools_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [6]:
## Total Number of Schools
## In this code, we first determine how many different schools there are followed by a count of these unique values. 
total_schools = (schools_complete_df["school_name"].value_counts()).count()

## Total Students
# using the .count() function will provide the total number of students
total_students = schools_complete_df["student_name"].count()

## Total Budget calculated using the .sum() function
## Since the new data frame will contain a the budget value for every row, we will need to re-examine the schools data frame to get the total value of the budget across all schools

total_budget = schools_load_df['budget'].sum()

## Calculating the average math score
average_math_score = schools_complete_df['math_score'].mean()

## Calculating the average reading score
average_reading_score = schools_complete_df['reading_score'].mean()


## Calculating the percentage of students who passed math

passing_math_count = (schools_complete_df.loc[schools_complete_df['math_score']>=70].shape[0])

total_math_count = schools_complete_df.loc[schools_complete_df['math_score']].shape[0]


passing_math_percentage = int(passing_math_count)/int(total_math_count) * 100

## Calculating the percentage of students who passed reading

passing_reading_count = (schools_complete_df.loc[schools_complete_df['reading_score']>=70].shape[0])

total_reading_count = schools_complete_df.loc[schools_complete_df['reading_score']].shape[0]


passing_reading_percentage = int(passing_reading_count)/int(total_reading_count) * 100

## Overall Passing rate for both Math and Reading

math_reading_pass_count = schools_complete_df.loc[(schools_complete_df['math_score']>=70) & (schools_complete_df['reading_score']>=70)].shape[0]

math_reading_pass_percentage = int(math_reading_pass_count)/int(total_students) * 100

In [7]:
## Creating a Summary Table Data Frame

district_summary_df = pd.DataFrame({
    'Total Schools':[total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [math_reading_pass_percentage],
    '% Passing Reading': [math_reading_pass_percentage],
    '% Overall Pass': [math_reading_pass_percentage]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
0,15,39170,24649428,78.985371,81.87784,65.172326,65.172326,65.172326

In [8]:
district_summary_df = district_summary_df.style.format({    'Total Schools':'{:.0f}',
'Total Students':'{:,}',
'Total Budget':'${:,}'
})

In [9]:
district_summary_df

# School Summary

In [10]:
huang = schools_complete_df.loc[schools_complete_df['school_name']=='Huang High School']

huang_budget = int(huang['budget'].unique())
huang_math_average = huang['math_score'].mean()
huang_reading_average = huang['reading_score'].mean()
huang_math_percent_pass = (huang[])

SyntaxError: invalid syntax (<ipython-input-10-003226bdecd6>, line 6)

1910635

In [11]:


figueroa = schools_complete_df.loc[schools_complete_df['school_name']=='Figueroa High School']

shelton = schools_complete_df.loc[schools_complete_df['school_name']=='Shelton High School']

hernandez = schools_complete_df.loc[schools_complete_df['school_name']=='Griffin High School']

griffin = schools_complete_df.loc[schools_complete_df['school_name']=='Griffin High School']

wilson = schools_complete_df.loc[schools_complete_df['school_name']=='Wilson High School']

cabrera = schools_complete_df.loc[schools_complete_df['school_name']=='Cabrera High School'] 

bailey = schools_complete_df.loc[schools_complete_df['school_name']=='Bailey High School']

holden = schools_complete_df.loc[schools_complete_df['school_name']=='Holden High School'] 

pena = schools_complete_df.loc[schools_complete_df['school_name']=='Pena High School']  

wright = schools_complete_df.loc[schools_complete_df['school_name']=='Wright High School']

rodriguez = schools_complete_df.loc[schools_complete_df['school_name']=='Rodriguez High School'] 

johnson = schools_complete_df.loc[schools_complete_df['school_name']=='Johnson High School']

ford = schools_complete_df.loc[schools_complete_df['school_name']=='Ford High School'] 

thomas = schools_complete_df.loc[schools_complete_df['school_name']=='Thomas High School']

In [12]:
columns = ['School Name', 'School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']